<div ng-class="{true:'form-group has-success', false:'form-group has-error'}[isValid]">
	<label class="control-label" for="inputitoldyoo">{{ "component.itoldyoomessage.label"|trans }}</label>
	<input type="text" class="form-control" id="inputitoldyoo2" ng-blur="validateValues()" ng-model="message" placeholder="my bet">
</div>
