<div>
	<a class="dropdown-toggle btn btn-danger" ng-click="handleChangeDateTime()">{{finalDate|date}}</a>
	<div ng-switch="template">
		
		<div ng-switch-when="year" class="dropdowndatetime">
			<table>
				<thead>
					<tr>
						<th ng-click="move(-1)" class="legende">&lsaquo;</th>
						<th colspan="5" class="switch legende">{{years[0].getFullYear()}}-{{years[years.length-1].getFullYear()}}</th>
						<th ng-click="move(1)" class="legende">&rsaquo;</i></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="7">
						<span ng-repeat="year in years" class="year" ng-click="setSelectedDate(year, template)" ng-bind="year.getFullYear()"> </span>
						<!--<span ng-class="{'active':isSameYear(year),'now':isNow(year)}"
						ng-repeat="year in years"
						ng-click="setDate(year)" ng-bind="year.getFullYear()"></span> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-switch-when="month" class="dropdowndatetime">
			<table>
				<thead>
					<tr>
						<th ng-click="move(-1)" class="legende">&lsaquo;</th>
						<th colspan="5" class="switch legende" ng-click="setDateTimeView('year')">{{displayedDate.getFullYear()}}</th>
						<th ng-click="move(1)" class="legende">&rsaquo;</i></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="7">
						<span ng-repeat="month in months" class="year" ng-click="setSelectedDate(month, template)" ng-bind="month|date:'MMM'"> </span>
						<!--<span ng-class="{'active':isSameYear(year),'now':isNow(year)}"
						ng-repeat="year in years"
						ng-click="setDate(year)" ng-bind="year.getFullYear()"></span> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-switch-when="day" class="dropdowndatetime">
			<table>
				<thead>
					<tr>
						<th ng-click="move(-1)" class="legende">‹</th>
						<th class="switch legende" ng-click="setDateTimeView('month')" colspan="5">{{displayedDate|date:"yyyy MMMM"}}</th>
						<th ng-click="move(1)" class="legende">›</th>
					</tr>
					<tr>
						<th ng-repeat="day in days" class="lg-days">{{ day|date:"EEE" }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="week in weeks">
						<td ng-repeat="day in week">
							<span ng-click="setSelectedDate(day, template)" ng-bind="day.getDate()" class="day"></span>
							<!--<span
							ng-class="{'now':isNow(day),'active':isSameDay(day),'disabled':(day.getMonth()!=date.getMonth()),'after':isAfter(day),'before':isBefore(day)}"
							ng-click="setDate(day)" ng-bind="day.getDate()"></span> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-switch-when="hour" class="dropdowndatetime">
			 <table>
				<thead>
					<tr>
						<th ng-click="move(-24)" class="legende">&lsaquo;</th>
						<th colspan="5" class="switch legende" ng-click="setDateTimeView('day')">{{ displayedDate|date:"dd MMMM yyyy" }}</th>
						<th ng-click="move(24)" class="legende">&rsaquo;</i></th>
						</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="7">
						<span ng-repeat="hour in hours"	ng-click="setSelectedDate(hour, template)" ng-bind="hour|time" class="year"></span>

						<!--<span ng-repeat="hour in hours"
						ng-class="{'now':isNow(hour),'active':isSameHour(hour)}"
						ng-click="setDate(hour)" ng-bind="hour|time"></span> -->

						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>