<input type="text" class="form-control" ng-model="search" placeholder="{{prompt}}" ng-keyup="handleKeyUp($event)" ng-change="filterEmails(search,3)" ng-keydown="selected=false"/>
<div  ng-switch="items.length">
	<div ng-switch-when="0"></div>
	<div class="dropdown" ng-switch-default >
		<div class="item" ng-repeat="item in items" ng-click="handleSelection(item.email)" style="cursor:pointer" ng-class="{active:isCurrent($index)}" ng-mouseenter="setCurrent($index)">
			<div class="title">{{item.email}}</div>
		</div>
	</div>
</div>
<div>
	<div ng-repeat="email in emailList" style="cursor:pointer" >
		<div>{{email}} - <a ng-click="handleRemoveEmail($index)"> remove </a> </div>
	</div>
</div>