
<div ng-switch="mode">
	<div ng-switch-when="view">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h5>Poster votre Itoldyou:</h5>
				<div class="input-group">
					<input type="text" class="form-control" ng-model="inputitoldyoo" placeholder="my bet!">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="handleNewIToldYoo(inputitoldyoo)">IToldYou!</button>
					</span>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		<myitoldyoo item="item"></myitoldyoo>
	</div>
	<div ng-switch-when="creation">
	    <form>
	      <div ng-class="{true:'form-group has-success', false:'form-group has-error'}[isInputemailValid]">
 	      	 <label class="control-label" for="inputemail">@ I</label>
 	      	 
	        <input type="text" class="form-control" id="inputemail" ng-blur="validateValues()" placeholder="my email address">
	      </div>
	      <div ng-class="{true:'form-group has-success', false:'form-group has-error'}[isInputitoldyooValid]">
	      	<label class="control-label" for="inputitoldyoo">Told</label>
	        <input type="text" class="form-control" id="inputitoldyoo2" ng-blur="validateValues()" ng-model="inputitoldyoo2" placeholder="my bet">
	      </div>
	      <div class="form-group">
	      	<label for="inputemails">@ You</label>
	        <emailbox prompt="email addresses" /></emailbox>
	      </div>
	      <div class="form-group">
	      	<label for="when">When</label>
	      	<whenpicker prompt="When it will happen?"> </whenpicker>
	      </div>
		<button class="btn btn-default" type="button" ng-click="handleCreateIToldYoo()">Validate</button>
	     
	    </form>
	</div>
</div>