{% extends 'itoldyooBundle::itoldyoo.html.twig' %}

{% block body %}

	<itoldyooheader> </itoldyooheader>

	<div class="background-carousel">
		<carrousel> </carrousel>
	</div>

	<div class="background-center" >
	    <itoldyoo ></itoldyoo>
	</div>

	<itoldyoofooter></itoldyoofooter> 


{% endblock %}