{% extends 'itoldyooBundle::itoldyoo.html.twig' %}

{% block body %}
	<script type="text/javascript">
	    $('.carousel').carousel({
	      interval: 200
	    })
	</script>
	<itoldyooheader> </itoldyooheader>

	<div class="background-carousel">
		<carrousel> </carrousel>
	</div>

	<div class="background-center" >
	    <itoldyoo ></itoldyoo>
	</div>

	<itoldyoofooter></itoldyoofooter>  
{% endblock %}