{% extends 'itoldyooBundle::itoldyoo.html.twig' %}

{% block body %}
	
	<div ng-controller="mainController">

		<itoldyooheader> </itoldyooheader>
		
	

		<!--<div ng-if="!mobile" class="background-carousel">-->
		<div class="background-carousel">
			<carrousel> </carrousel>
		</div>

		<div class="background-center" >
		    <itoldyoo ></itoldyoo>
		</div>

		<itoldyoofooter></itoldyoofooter> 
	
	<div>

{% endblock %}