p {
    line-height: 1.5;
    margin: 20px 0;
}

ul li, ol li {
    line-height: 1.5;
    margin-left: 30px;
}

/*used*/
ul.type-ahead-container {
    /*background-color: #fff;
    border: 1px solid #999;*/
    clear: left;
    cursor: text;
    /*font-family: Verdana;*/
    /*font-size: 12px;*/
    height: auto !important;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
/*    width: 400px;*/
    z-index: 999;
    
}

/* used */
ul.type-ahead-container li input {
    background-color: white;
    border: 0 none;
    margin: 2px 0;
    padding: 3px 8px;
   /* width: 100px;*/
}

/*used -  token-input-token-facebook*/
li.type-ahead-element {
    background-color: #d0efa0;
    color: #000;
    cursor: default;
    display: block;
    font-weight: bold;
    height: auto !important;
    margin: 3px;
    overflow: hidden;
    padding: 3px 5px;
}

/*used */
li.type-ahead-element span {
    cursor: pointer;
    float: right;
}
/*used */
li.type-ahead-element p {
    float: left;
    margin: 0;
    padding: 0;
}

/* used */
ul.type-ahead-element-input li input {
    background-color: white;
    border: 0 none;
    margin: 2px 0;
    padding: 3px 8px;
   /* width: 100px; */
}

/* used  token-input-list-facebook*/
li.type-ahead-element-input {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

